<tool name="HandleError">  <version>2.4.1</version>  <date>2018-04-30</date>  <files></files>  <container>#._HandleError</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>Execute</script>    <script>Tester</script>    <script>WinReg</script>    <script>WindowsEventLog</script>  </needs>  <scriptOnly>1</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>12</buildid></tool>