<tool name="HandleError">  <version>2.5.0</version>  <date>2020-03-03</date>  <container>#.HandleError</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>Execute</script>    <script>WinReg</script>    <script>WindowsEventLog</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <buildid>21</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package></tool>